<div class="author">
    <h1 class="author__heading">Hi I am Thando</h1>
    <p class="author__body">Web developer and Tech Creative</p>

</div>
<img src="/img/" alt="selfie of a man with headphones" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li>
            <a href="#"></a>
            <span>Post Title</span>
            <span class="article-list__date">Date</span>
        </li>
    </ul>

<a href="#" class="pagination">&lt; View Older Posts</a>

</section>